$black: #212529;
$dark-grey: #33383b;
$grey: #92999f;
$light-grey: #f8f9fa;
$white: #fff;
$umami-pink: #fc0384;
$pink: #FFC0CB;

// -----------
// Breakpoints
// -----------
// $xxl: 1440px;
// $xl: 1440px;
// $lg: 1199px;
// $md: 991px;
// $sm: 767px;
// $xs: 574px;
